/**

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE

!secrets-example/
!secrets-example/**
!.env.example

!compose-*
!compose/
!compose/**
!appdata/
appdata/**

!appdata/traefik3/
appdata/traefik3/**
!appdata/traefik3/rules/
!appdata/traefik3/rules/**


!appdata/beets/
appdata/beets/**
!appdata/beets/config/
!appdata/beets/config/config.yaml

!appdata/beets-flask/
appdata/beets-flask/**
!appdata/beets-flask/startup.sh
!appdata/beets-flask/requirements.txt
!appdata/beets-flask/beets/
!appdata/beets-flask/beets/config.yaml
!appdata/beets-flask/beets-flask/
!appdata/beets-flask/beets-flask/config.yaml

