/**

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE

!secrets-example/
!secrets-example/**
!.env.example

!compose-*
!compose/
!compose/**
!appdata/
appdata/**

!appdata/traefik3/
appdata/traefik3/**
!appdata/traefik3/rules/
!appdata/traefik3/rules/**


!appdata/beets/
appdata/beets/**
!appdata/beets/config/
!appdata/beets/config/config.yaml
