PUID=1000
PGID=1000
UID=1000
GID=1000
TZ="Asia/Hong_Kong"

COMPOSE_FILE="compose.yml"
DOCKER_HOST_NAME="hostname"
USERDIR="/home/user"
CONFIGDIR="/opt/docker"
DATADIR="/mnt/docker"
MEDIADIR="/mnt/media-server"
SERVER_DOMAIN=

DOMAINNAME_1=jamietong.com
INTERNAL_IP=
EXTERNAL_IP=
LOCAL_IPS=
CLOUDFLARE_IPS=
